/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fonts
 *= require_directory ./bootstrap
 *= require_directory ./material
*= require material-patch
*= require site-top
*= require placeholders
*= require post
*= require open-post
*= require series-edit
*= require bootstrap-tagsinput
*= require nprogress-override
*= require typeahead-rails
*= require tile
*/

header, main, footer {
  transition: all 0.5s ease;
  opacity: 1!important;
}
.init-loader {
  transition: all 0.5s ease;
  opacity: 0!important;
  z-index: -100!important;
}

.carousel .item img {
    width: auto!important;
}

.hidden-element {
  display: none;
}

.twitter-timeline-container iframe, [id^="twitter-widget-"], [id*="twitter-widget-"] {
  width: 100%!important;
}


// dropdown on hover
// ul.nav li.dropdown:hover > ul.dropdown-menu {
//   display: block;
// }

// .open > .dropdown-menu {
//   -webkit-transform: scale(1, 1);
//   transform: scale(1, 1);  
//   opacity:1;
// }
  
// .dropdown-menu {
//   opacity:.3;
//   -webkit-transform-origin: top;
//   transform-origin: top;
//   -webkit-animation-fill-mode: forwards;  
//   animation-fill-mode: forwards; 
//   -webkit-transform: scale(1, 0);
//   display: block; 
//   transition: all 0.2s linear;
//   -webkit-transition: all 0.2s linear;
// }


abbr[title="required"] {
  display: none;
}
.navbar .nav > li > a:before {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  height: 2px;
  bottom: 0;
  background-color: #fff;
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.navbar .nav > li > a:hover:before {
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

html{position:relative;min-height:100%;}
body{margin-bottom:125px;}
.footer{position:absolute;bottom:0;width:100%;height:125px;background-color:#f5f5f5;}
body > .container{padding:60px 15px 0;}
.container .text-muted{margin:20px 0;}
.footer > .container{padding-right:15px;padding-left:15px;}


main {
  margin-bottom: 165px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {

}

.navbar-brand {
  img {
    height: 54px;
  }
}

//@media (min-width: 0px) {
//  .container {
//    .row {
//      margin-right: 0px;
//      margin-left: 0px;
//      .container {
//
//      }
//    }
//    padding-left: 0px!important;
//    padding-right: 0px!important;
//    margin-right: 0px!important;
//    margin-left: 0px!important;
//    width: calc(100% - 0px)!important;
//  }
//}

@media (min-width: 768px) {
  .container {
    padding-left: 0px!important;
    padding-right: 0px!important;
    width: calc(100% - 30px)!important;
  }
}


@media (min-width: 1270px) {
  .container-top {
    margin-right: auto!important;
    margin-left: auto!important;
    width: 1270px!important;
  }
}

@media (max-width: 1270px) {
  .navbar-brand {
    img{
      padding-top: 15px;
      padding-bottom: 15px;
//      height: 32px;
    }
  }
}

body {
  background-color: #F4F5F6;
}

.in-component {
  left: -56px;
//  top: -6px;
  z-index: 500;
}

.header-decorator {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.29)!important;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.29)!important;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.29)!important;
}

.content-info {
  text-align: right;
  .total-publications {
    font-size: 18px;
  }
  .total-episodes {
    font-size: 13px;
  }
}


.top-me-please {
  width:56px;
  margin-top:40px;
  margin-bottom: -28px
}

@media (max-width: 1199px) {
  .navbar-nav > li > a:not(.profile) {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
}
