.site-top{
  max-height: 320px;
  background-color: #03a9f4;
  -webkit-box-shadow: inset 2px 33px 5px -30px rgba(0,0,0,0.34);
  -moz-box-shadow: inset 2px 33px 5px -30px rgba(0,0,0,0.34);
  box-shadow: inset 2px 33px 5px -30px rgba(0,0,0,0.34);
  .item {
    padding-top: 15px;
    max-height: 320px;
    text-align: center;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 305px;
    }
  }
}
//.site-top {
//  background-color: #03a9f4;
//  max-height: 320px;
//  color: #333333;
//
//  .remove-margin {
//    margin: 0px!important;
//  }
//
//  .make-me-super{
//    vertical-align:super;
//    border-top: 6px dashed;
//    border-right: 6px solid transparent;
//    border-left: 6px solid transparent;
//  }
//  .profile-icon {
//    vertical-align: bottom;
//    margin-right: 10px;
//  }
//  .your-email {
//    vertical-align:super;
//    text-transform: lowercase!important;
//  }
//
//  li a {
//    color: #333333!important;
//  }
//
//  li.dropdown.open {
//    color: #333333!important;
//    background-color: rgba(0, 0, 0, 0.05);
//  }
//
//
//  .search {
//    margin: 15px
//  }
//
//}
//
//.navbar ul:not(.dropdown-menu) > li.active > a{
//  //box-shadow: inset 0 -8px 0 rgba(237, 52, 131,1);
//  //background-color: transparent;
//  color: white;
//}
//.navbar ul:not(.dropdown-menu) > li > a{
//  //min-width: 120px;
//  //text-align: center;
//  //font-size: 16px;
//  //text-transform: uppercase;
//  color: #f5f5f5;
//}
