.well.bs-component
  = simple_form_for @series, html: { class: 'form-horizontal', :multipart => true } do |f|
    %fieldset
      = f.error_notification
      %legend Series Form
      .form-group
        .col-sm-9
          %p &nbsp;
          = f.label 'Категорія *', class: 'col-sm-2 control-label'
          .col-sm-10.col-md-4
            = f.select :category_id, grouped_options(f.object.category_id), { prompt: 'Виберіть зі списку...'}, {class: 'form-control', label: false }
          .clearfix
          %p &nbsp;
          = f.label 'Назва публікації *', class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :name, class: 'form-control', placeholder: 'Series name', label: false
          .clearfix
          %p &nbsp;
          = f.label :original_name, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :original_name, class: 'form-control', placeholder: 'Original name', label: false
          .clearfix
          %p &nbsp;
          = f.label 'Опис *', class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_area :description, class: 'form-control', placeholder: 'Series description', label: false, rows: 5
          .clearfix
          %p &nbsp;
          = f.label :tag_list, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :tag_list, class: 'form-control', placeholder: 'Series description', label: false, "data-role" => "tagsinput", value: @series.tag_list.join(',')
          .clearfix
          %p &nbsp;
          = f.label :episodes_amount, class: 'col-sm-2 control-label'
          .col-sm-10
            .col-sm-3.select-delimiter
              = f.select :episodes_amount, 1..150, {}, {class: 'form-control', placeholder: 'Загальна кількість серій', label: false }
            .col-sm-9.select-delimiter
              = f.label :episode_time, class: 'col-sm-4 control-label pull-left select-delimiter'
              .col-sm-8.select-delimiter
                = f.input :episode_time, class: 'form-control', placeholder: 'Продовжуваність однієї серії', label: false
          .clearfix
          %p &nbsp;
          = f.label :year, class: 'col-sm-2 control-label'
          .col-sm-10
            .col-sm-2.select-delimiter
              = f.select :year, (1980..Date.current.year).to_a.reverse, {}, {class: 'form-control', placeholder: 'Рік виходу', label: false }
          .clearfix
          %p &nbsp;
          = f.label :studio_name, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :studio_name, class: 'form-control', placeholder: 'Назва студії', label: false
          .clearfix
          %p &nbsp;
          = f.label :video_info, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :video_info, class: 'form-control', placeholder: 'Відео формат', label: false
          .clearfix
          %p &nbsp;
          = f.label :audio_info, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :audio_info, class: 'form-control', placeholder: 'Аудіо формат', label: false
          .clearfix
          %p &nbsp;
          = f.label :translator, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :translator, class: 'form-control', placeholder: 'Переклад', label: false
          .clearfix
          %p &nbsp;
          = f.label :actors, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :actors, class: 'form-control', placeholder: 'Текст читали', label: false
          .clearfix
          %p &nbsp;
          = f.label :sound_maker, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :sound_maker, class: 'form-control', placeholder: 'Робота зі звуком', label: false
          .clearfix
          %p &nbsp;
          = f.label :executer, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.input :executer, class: 'form-control', placeholder: 'Виконавець', label: false
          .clearfix          

        .col-sm-3
          .col-sm-12
            .poster-holder
              %p
                %b Постер *
              %p
                .upload-preview
                  = image_tag (@series.cover.url)
              %p
                %input.form-control.floating-label.pointer{:placeholder => "Browse...", :readonly => "", :type => "text", value: @series.cover_name }
                = f.file_field :cover, placeholder: 'Select the cover', class: 'pointer'
                = f.hidden_field(:cover_cache)
          .clearfix
          .col-sm-12
            .poster-holder
              %p
                %b Посилання на торрент трекер
              %p
                = f.text_field :torrent, class: 'form-control', placeholder: 'Torrent tracker'
          .col-sm-12
            .poster-holder
              %p
                %b Реліз на Ex.ua
              %p
                = f.text_field :source_mirror, class: 'form-control', placeholder: 'Ex.ua посилання'
          .col-sm-12
            .poster-holder
              %p
                %b Реліз в Vk.com
              %p
                = f.text_field :source_mirror_additional, class: 'form-control', placeholder: 'Вк посилання'

        .clearfix
        .col-sm-12
          .col-sm-1
          .col-sm-8
            %h4 Episodes:
            .fields.form-group
              = f.fields_for :episodes, f.object.episodes.order(:created_at) do |builder|
                = render 'episode_fields', f: builder
            %hr
            .form-group
              .col-sm-8
                = link_to_add_fields 'Add Episode', f, :episodes
            %hr

      .form-group
        .col-sm-8
          .buttons-holder.pull-right
            = link_to 'Назад', series_index_path, class: 'btn btn-default'
            = f.button :submit, 'Зберегти', class: 'btn btn-primary'

:javascript
  addPostponedFunc(['allScriptsReady'],function(){
    var preview = $(".upload-preview img");

    $("#series_cover").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
  });

  addPostponedFunc(['allScriptsReady'],function(){
    var preview = $(".torrent-preview img");

    $("#series_torrent").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", '#{asset_path("success.png")}');
       };
       reader.readAsDataURL(file);
    });
  });
