- content_for :title do
  = "#{@series_presenter.name} / #{@series_presenter.native.original_name}" 
- content_for :url do
  = series_path(@series_presenter.native)
- content_for :description do
  = @series_presenter.description 
- content_for :image do
  = cl_image_path("files/series/#{@series_presenter.native.id}/cover.jpg", :width=>537, :height=>240, :crop=>:thumb)
  -#"http://res.cloudinary.com/ukrdub/image/upload/c_thumb,h_240,w_537/v1444595190/files/series/#{@series_presenter.native.id}/cover.jpg"

.row
  .col-sm-12
    %ul.breadcrumb
      %li
        = link_to 'Головна', root_path
      - if @series_presenter.category.parent
        %li
          = link_to @series_presenter.category.parent.try(:name), category_path(@series_presenter.category.parent)
      %li
        = link_to @series_presenter.category.name, category_path(@series_presenter.category)
      %li.active= @series_presenter.name
.row
  .col-lg-9
    .open-post
      .panel.panel-default.top-round
        .post-content
          .panel-body
            .col-sm-4.plotter-left-5.plotter-right-5
              %div.post-cover{ class: "series_cover#{@series_presenter.native.id}" }
              :javascript
                addPostponedFunc(['allScriptsReady'],function(){
                  if (window.series_cover#{@series_presenter.native.id} != undefined) {
                    $('.series_cover#{@series_presenter.native.id}')
                      .empty()
                      .append('<img src=' + window.series_cover#{@series_presenter.native.id} + ' width="100%" />')
                  } else {
                    $.getScript('#{ load_tile_cover_path(@series_presenter.native) }');
                  }
                })
            .col-sm-8
              .describe-items
                .row
                  .col-sm-12
                    .col-sm-12
                      %h3
                        %a
                          %b
                            = @series_presenter.name
                      %span= @series_presenter.original_name
                      %br
                      - if admin?
                        %span.pull-right
                          %span= link_to 'Редагувати', edit_series_path(@series)
                          \|
                          %span= link_to 'Видалити', @series, :method => :delete, :data => { :confirm => 'Впевнений?' }

                  .col-sm-12
                    .col-sm-3
                      %span.titles Жанр:
                    .col-sm-9
                      %span
                        = @series_presenter.categories
                  .col-sm-12
                    .col-sm-3
                      %span.titles Серій:
                    .col-sm-9
                      %span= @series_presenter.episodes_amount_and_time
                  .col-sm-12
                    .col-sm-3
                      %span.titles Рік виходу:
                    .col-sm-9
                      %span= @series_presenter.year
                  .col-sm-12
                    .col-sm-3
                      %span.titles Студія:
                    .col-sm-9
                      %span= @series_presenter.studio_name
                  .col-sm-12
                    .col-sm-3
                      %span.titles Відео:
                    .col-sm-9
                      %span= @series_presenter.video_info
                  .col-sm-12
                    .col-sm-3
                      %span.titles Звук:
                    .col-sm-9
                      %span= @series_presenter.audio_info

                  .col-sm-12
                    .col-sm-3
                      %span.titles Переклад:
                    .col-sm-9
                      %span= @series_presenter.translator
                  .col-sm-12
                    .col-sm-3
                      %span.titles Текст читали:
                    .col-sm-9
                      %span
                        = @series_presenter.actors
                  .col-sm-12
                    .col-sm-3
                      %span.titles Робота зі звуком:
                    .col-sm-9
                      %span
                        = @series_presenter.sound_maker
                  - if @series_presenter.executer.present?
                    .col-sm-12
                      .col-sm-3
                        %span.titles Виконано:
                      .col-sm-9
                        %span
                          = @series_presenter.executer                        

                  .col-sm-12.text-justify
                    %p &nbsp;
                    %p
                      .col-sm-12
                        %p
                          %span.titles Опис:
                        %span= @series_presenter.description

            %p.clearfix
            %hr
            .video-content
              .col-sm-8.plotter-right.plotter-left-5
                #task-form
                  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "428", :mozallowfullscreen => "", :scrolling => "no", :src => "#{@series_presenter.default_meta_video}", :webkitallowfullscreen => "", :width => "100%"}
              .col-sm-4.plotter-left.plotter-right
                .list-of-episodes
                  - @episodes_presenter.reverse.each_with_index do |episode, index|
                    = link_to(episode_path(episode.id), remote: true) do
                      .panel.panel-default.btn{ class: "#{ "active_episode" if index == 0 }"}
                        .media
                          .media-left
                            = image_tag episode.thumbnail, class: 'media-object', size: '85x70'
                          .media-body
                            %h6.media-heading= episode.episode_number
                            %span= episode.name



    .comments
      = render 'layouts/last_comments'


  .col-lg-3
    = render 'series/downloads_panel'
