.panel.panel-info
  .panel-body
    %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#vk"} Коментарі Вк

    #myTabContent.tab-content
      #vk.tab-pane.fade.active.in{ "data-turbolinks-eval" => "always" }
        %p
          #vk_comments{"data-turbolinks-eval" => "always"}

:css
  #comments div[id^='___comments_'], #comments div[id^='___comments_'] iframe {
    width: 100% !important;
  }
