!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'UkrDub.net - аніме та серіали українською'
    = favicon_link_tag
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : "UkrDub - це вітчизняний фандаб проект, що займається перекладом і озвученням аніме та серіалів українською мовою."}

    %meta{:content => content_for?(:url) ? yield(:url) : 'http://www.ukrdub.net', :property => "og:url"}
    %meta{:content => content_for?(:title) ? yield(:title) : 'UkrDub.net - аніме та серіали українською', :property => "og:title"}
    %meta{:content => content_for?(:description) ? yield(:description) : "UkrDub - це вітчизняний фандаб проект, що займається перекладом і озвученням аніме та серіалів українською мовою.", :property => "og:description"}
    %meta{:content => content_for?(:image) ? yield(:image) : 'http://res.cloudinary.com/ukrdub/image/upload/v1444766589/public/newlogo.png', :property => "og:image"}/
    
    = render 'layouts/init_js'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => true
    -#%script{:src => "//vk.com/js/api/openapi.js?116", :type => "text/javascript", :async => true}
    = csrf_meta_tags
  %body
    .init-loader
      .loader
        .inner.one
        .inner.two
        .inner.three
    %header.header-decorator
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        = render 'layouts/messages'
        = yield
        .clearfix
    %footer.footer
      %div{style: 'background-color: #385762;height: 125px;width:100%;'}
        .container
          = render 'layouts/footer'
          .center-block.top-me-please{style: 'width:56px;margin-top:-26px;'}
            %a.btn.btn-info.btn-fab.btn-raised.mdi-navigation-expand-less.scroll-to-top{:href => "#"}
